OnTour2-master/Solution2/WebApplication1/Service References/ReferenciaWCF/ServicioPoliza2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57303/ServicioPoliza.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFPolizas" />
  <xs:element name="ObtenerPoliza">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Identificacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPolizaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFPolizas" minOccurs="0" name="ObtenerPolizaResult" nillable="true" type="q1:Poliza" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>