OnTour2-master/Solution2/WebApplication1/Service References/ReferenciaWCF/ServicioPoliza1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFPolizas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFPolizas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Poliza">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRespuesta">
        <xs:sequence>
          <xs:element minOccurs="0" name="DiasCobertura" type="xs:int" />
          <xs:element minOccurs="0" name="Incidencia" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="aseguradora" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="cantidadPersonas" type="xs:int" />
          <xs:element minOccurs="0" name="montoPoliza" type="xs:int" />
          <xs:element minOccurs="0" name="nombrePoliza" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="numeroPoliza" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Poliza" nillable="true" type="tns:Poliza" />
  <xs:complexType name="BaseRespuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseRespuesta" nillable="true" type="tns:BaseRespuesta" />
</xs:schema>